.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #007bff;
  color: #fff;
}

h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: #09090a;
}

input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  font-size: 1rem;
}

button {
  padding: 0.5rem;
  border: none;
  border-radius: 0.25rem;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
}

.error {
  color: rgb(228, 217, 112);
  margin-top: 1rem;
}

.footer {
  margin-top: 2rem;
  font-size: 0.75rem;
  opacity: 0.5;
  text-align: center;
}

.logout-button {
  background-color: #444343;
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  box-shadow: 0px 0px 10px rgb(33, 33, 33);
  text-align: center;
}

.popup button {
  margin-top: 10px;
}
